* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Press Start 2P";
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex: 3;
  flex-direction: column;
  height: 100vh;
}

.messagesList {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #000;
  color: #fff;
}

.sendMessageBox {
  margin-top: auto;
  margin-bottom: 0;
  padding: 1rem;
  border-top: 2px dotted #fff01c;
  background-color: #000;
}

.sendMessageBox input {
  width: 100%;
  background-color: #000;
  outline: none;
  border: none;
  font-family: "Press Start 2P";
  color: #fff;
}

.usersList {
  flex: 1;
  height: 100%;
  padding: 1rem;
  border-right: 2px dotted #fff01c;
  background-color: #000;
  color: #01DD06;
}

.usersList ul {
  list-style: none;
}